<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
        <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
        <add key="DJANGO_SETTINGS_MODULE" value="about.settings" />
        <add key="PYTHONPATH" value="E:\E:\workspaces\github\about" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python_FastCGI"
                path="*"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="C:\Python34\python.exe|C:\Python34\Scripts\wfastcgi.py"
                resourceType="Either"
                requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
