<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="scripts/style-cby.css" />
	<!--[if lt IE 10]><link rel="stylesheet" href="scripts/fix-ie9.css" /><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="scripts/iefix.js"></script><![endif]-->
	<title>{% block title %}{{ title }}{% endblock %}</title>
	<style>
		</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header"><a class="navbar-brand glyphicon glyphicon-home" href="/"></a>
<a class="navbar-brand">{{ title }}</a></div>
<div class="navbar-right"><ul class="nav navbar-nav">
      <li><a href="About">Who am I</a></li>
      <!--li><a href="Blog">Blog</a></li-->
      <li><a href="Contact">Contact Me</a></li>
</ul></div></div></nav>
<a id="top"></a>
<div class="container">
{% block content %}
{{ text_html|safe }}
{% endblock %}
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/script-cby.js"></script>
</body>
</html>
